.cartas-listado {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center; /* Centra verticalmente las cartas */
  justify-content: center; /* Centra horizontalmente las cartas */
  min-height: 320px;
}

.carta-card {
  border-radius: 8px;
  padding: 10px;
  width: 180px;
  background: #fff;
  font-size: 0.85rem; /* Letras más pequeñas */
  box-shadow: none;
  display: flex; /* Asegura que el contenido interno esté centrado */
  flex-direction: column;
  align-items: start; /* Centra el contenido dentro de cada carta */
  justify-content: center; /* Centra el contenido dentro de cada carta */
}

.carta-card.seleccionada {
  background: #e6ffe6;
}

.carta-card img {
  width: 100%;
  border-radius: 8px;
}

.floating-button {
  position: fixed;
  bottom: 30px;
  right: 40px;
  background-color: #007bff;
  color: white;
  padding: 12px 40px;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.form-button {
  background-color: #007bff;
  color: white;
  padding: 12px 40px;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.filtro-cartas {
  display: flex;
  flex-direction: row; /* Asegura que los elementos estén en fila */
  
  align-items: center; /* Centra verticalmente los elementos */
  margin-top: 1rem;
}

select {
  padding: 10px;
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 8px; /* Bordes redondeados */
  background-color: #fff; /* Fondo blanco */
  font-size: 1rem;
  color: #555; /* Texto gris oscuro */
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select:focus {
  border-color: #FFBF53; /* Amarillo en foco */
  box-shadow: 0 0 5px rgba(255, 191, 83, 0.8); /* Sombra amarilla */
}

option {
  font-size: 1rem;
  color: #333; /* Texto gris oscuro */
}

@media (max-width: 768px) {
  .filtro-cartas {
    display: flex;
    align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
    margin-top: 1rem;
    flex-direction: column; /* Cambia la dirección a columna */
  }

  .filtro-cartas input {
    margin-bottom: 10px; /* Agrega margen inferior a los inputs */
    width: 100%; /* Asegúrate de que los inputs ocupen todo el ancho */
  }

  .filtro-cartas button {
    margin-top: 10px; /* Agrega margen superior al botón */
  }
}