.delete-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  border-radius: 8px;
}

.delete-modal h3 {
  margin-bottom: 15px;
}

.delete-modal p {
  margin-bottom: 25px;
}

.delete-modal .modal-buttons {
  display: flex;
  gap: 15px;
}

.delete-modal .confirm-button {
  background-color: #dc3545;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.play-modal .confirm-button {
  background-color: #28a745; /* Verde */
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.delete-modal .cancel-button {
  background-color: #6c757d;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
