.home-container {
  padding: 2rem;
  background: #f5f5f5;
}

.slider-section {
  margin-top: 2rem;
}

.slide-title {
  color: #333;
  font-size: 2rem;
}

.slide-image {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.slide-overlay {
  position: absolute;
  top: 30%;
  width: 15%;
  padding: 2rem;

}

@media (max-width: 1200px) {
  
  .slide-overlay {
  top: 30%;


}
}

/* Responsive para tablet y celular */
@media (max-width: 768px) {
  
  .slide-overlay {
  top: 30%;


}
}

/* Responsive para celulares pequeños */
@media (max-width: 480px) {
  
  .slide-overlay {
  top: 0%;
  padding: rem;

}
}